.player-name-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px 8px;
}

.start_game_btn,
.add_row_btn {
  background-color: #2196f3;
  border: 1px solid #2196f3;
  padding: 8px;
  color: #fff;
  font-weight: 600;
  margin-top: 17px;
  height: 34px;
  border-radius: 6px;
  cursor: pointer;
}

.start_game_btn:hover,
.add_row_btn:hover {
  background-color: #01579b;
}

.start_game_btn:disabled {
  background-color: #9e9e9e;
  border-color: #9e9e9e;
}

.add_row_btn {
  margin-top: 0;
}

.total-score {
  text-align: center;
  font-size: 18px;
  color: #000;
  font-weight: 700;
  width: 75px;
  margin: 16px auto;
}

.share-btn {
  display: none;
}

@media screen and (max-width: 480px) {
  .player-name-input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
  }
  .start_game_btn,
  .end-game-btn,
  .start-new-game-btn {
    width: 100%;
  }
  .player-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .share-btn {
    display: block;
    background-color: #00BCD4;
    color: #fff;
    border-radius: 4px;
    height: 32px;
    border: 1px solid;
    cursor: pointer;
  }
}
